*.apk
*.ap_

*.dex

*.class

bin/
gen/
out/
build/
captures/

/local.properties
/sign.properties

/.classpath
/.project

*.DS_Store


/.idea

*.iml

*.ipr
*.iws

/.gradle

*/build

_sandbox

*.log

/testReports
/developer-tools/cookies.txt
/developer-tools/properties/translations.properties